# Python関連
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Jupyter Notebook関連
.ipynb_checkpoints/

# Macの隠しファイル
.DS_Store

# VSCodeや他のエディタの設定
.vscode/
.idea/

# 出力ファイルや一時ファイル
*.log
*.tmp

# データファイル
*.csv
*.tsv
*.zip
*.gz
*.tar
*.tar.gz
*.rar
*.7z

# モデルファイル（pkl, h5, pt, etc.）
*.pkl
*.joblib
*.h5
*.pt
*.onnx
*.sav
*.tflite
*.pb

# その他大きなファイル
*.npy
*.npz
